<style type="text/css">
	.row:first-child>* {
		padding-top: 15px !important;
		padding-left: 0px;
	}
	.row+.row>* {
		padding: 0px;
	}
	#footer{
		font-size: 10px !important;
		height: 20%;
		z-index: 100;
	}
	.row{padding: 10px;}
	#main{
		height:100% !important;
	}
	.popover{
		color: red;
		font-size: 15px;
		width: 100%;
	}
	.label{
		padding:15px !important;
		font-size:15px;
	}
</style>
<body ng-controller='enroll'>
	<div id="wrapper" class="container">
		<div id="main" class="row">
			<form name='form' class="form-group center-block col-lg-6" novalidate>
				<div ng-show='page==1'  style="width:100%;" >
					<div class="row">
						<span class="label label-primary">Name</span>
						<input class="form-control" ng-model='enroll.name' popover-placement="right" popover="I appeared on mouse enter!" popover-trigger="focus">
					</div>
					<div class="row">
						<span class="label label-primary">School</span>
						<input class="form-control" ng-model='enroll.school' popover-placement="right" popover="I appeared on mouse enter!" popover-trigger="focus">
					</div>
					<div class="row">
						<span class="label label-primary">Major</span>
						<input class="form-control" ng-model='enroll.major' popover-placement="right" popover="I appeared on mouse enter!" popover-trigger="focus">
					</div>
					<div class="row">
						<span class="label label-primary">Year</span>
						<select class="form-control" ng-model='enroll.year' popover-placement="right" popover="I appeared on mouse enter!" popover-trigger="focus">
							<option selected style="display: none;">請選擇年級</option>
							<option ng-repeat='year in years' value="{{year.value}}" ng-bind='year.index'></option>
						</select>
					</div>
					<button class="btn btn-primary" ng-click='next(page)'>Next</button>
				</div>
				<div ng-show='page==2'>
					<div class="row">
						<span class="label label-primary">Cellphone</span>
						<input class="form-control" ng-model='enroll.cellphone' popover-placement="right" popover="I appeared on mouse enter!" popover-trigger="focus">
					</div>
					<div class="row">
						<span class="label label-primary">Image</span>
						<button class="form-control" ng-model='enroll.image' ng-click='image()' popover-placement="right" popover="I appeared on mouse enter!" popover-trigger="mouseenter">Upload Image</button>
						<img ng-src="{{enroll.image}}" style="width:100%;" ng-show='enroll.image'>
					</div>
					<div class="row">
						<span class="label label-primary">Email</span>
						<input class="form-control" ng-model='enroll.email' popover-placement="right" popover="I appeared on mouse enter!" popover-trigger="focus">
					</div>
					<button class="btn btn-primary" ng-click='previous(page)'>Previous</button>
					<button class="btn btn-primary" ng-click='next(page)'>Next</button>
				</div>
				<div ng-show='page==3'>
					<div class="row">
						<span class="label label-primary">Video Url</span>
						<input type="url" name='videoUrl' class="form-control" ng-model='enroll.videoUrl' popover-placement="right" popover="I appeared on mouse enter!" popover-trigger="focus">
						<div class="embed-responsive embed-responsive-16by9" style="width:100%;" ng-show='enroll.videoUrl'>
							<div id='preview'></div>
						</div>
					</div>
					<div class="row">
						<span class="label label-primary">Video topic</span>
						<select class="form-control" ng-model='enroll.topic' popover-placement="right" popover="I appeared on mouse enter!" popover-trigger="focus">
							<option selected style="display: none;">請選擇</option>
							<option ng-repeat='topic in topics' value="{{topic.value}}" ng-bind='topic.index'></option>
						</select>
					</div>
					{{enroll.topic}}
					<div class="row">
						<span class="label label-primary">Video info</span>
					</div>
					<textarea class="form-control" ng-model='enroll.videoInfo' popover-placement="right" style="width:100%" popover="I appeared on mouse enter!" popover-trigger="focus"></textarea>
					<button class="btn btn-primary" ng-click='previous(page)'>Previous</button>
					<button class="btn btn-primary" ng-click='finish(page)'>Finish</button>
					<a href="/" style="text-decoration: none;" class="btn btn-primary">
						I want to finish it next time
					</a>
				</div>
			</form>
		</div>
	</div>
</body>