<body class="homepage" ng-controller='home'>
	<!-- Banner -->
	<div id="banner-wrapper">
		<div id="banner" class="box container">
			<div class="row">
				<div class="7u">
					<h2>Hi. This is Verti.</h2>
					<p>It's a free responsive site template by HTML5 UP</p>
				</div>
				<div class="5u">
					<ul>
						<li><a href="/get_enroll" class="button big icon fa-arrow-circle-right">Ok let's go</a></li>
						<li><a href="/enrolls" class="button alt big icon fa-question-circle">More info</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- Features -->
	<div id="features-wrapper">
		<div class="container">
			<div class="row">
				<div class="4u" ng-repeat='enroll in enrolls' ng-click='open(enroll)'>
					<!-- Box -->
					<section class="box feature"  >
						<a class="image featured">
							<img class="image_block" ng-src="{{enroll.image}}" onerror='this.src=""'>
						</a>
						<div class="inner">
							<header>
								<h2 ng-bind='enroll.name'></h2>
								<p>
								<small ng-bind='enroll.school'></small>
								<small ng-bind='enroll.major'></small>
								<small ng-bind='years[enroll.year].index'></small>
								<small ng-bind='topics[enroll.topic].index'></small>
								</p>
							</header>
							<p ng-bind='enroll.videoInfo | limitTo: 70'></p>
							<p style="color:blue;" ng-if='enroll.videoInfo.length>=70'>
							click to see more
							</p>
						</div>
					</section>
				</div>
				<div class="4u" ng-if='enrolls.length<=2'>
					<!-- Box -->
					<a href="/get_enroll" style="text-decoration: none;">
						<section class="box feature">
							<div class="image featured">
								<img class="image_block" src="http://cw1.tw/CW/images/article/C1397790720421.jpg" onerror='this.src=""'>
							</div>
							<div class="inner">
								<header>
									<h2>BE THE NEXT</h2>
									<p>
									Get Enrolled now
									</p>
								</header>
							</div>
						</section>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- Main -->
	<div id="main-wrapper">
		<div class="container">
			<div class="row">
				<div class="4u">
					<!-- Sidebar -->
					<div id="sidebar">
						<section class="widget thumbnails">
							<h3>Interesting stuff</h3>
							<div class="grid">
								<div class="row no-collapse half">
									<div class="6u"><a href="#" class="image fit"><img src="images/pic04.jpg" alt="" /></a></div>
									<div class="6u"><a href="#" class="image fit"><img src="images/pic05.jpg" alt="" /></a></div>
								</div>
								<div class="row no-collapse half">
									<div class="6u"><a href="#" class="image fit"><img src="images/pic06.jpg" alt="" /></a></div>
									<div class="6u"><a href="#" class="image fit"><img src="images/pic07.jpg" alt="" /></a></div>
								</div>
							</div>
							<a href="#" class="button icon fa-file-text-o">More</a>
						</section>
					</div>
				</div>
				<div class="8u skel-cell-important">
					<!-- Content -->
					<div id="content">
						<section class="last">
							<h2>So what's this all about?</h2>
							<p>This is <strong>Verti</strong>, a free and fully responsive HTML5 site template by <a href="http://html5up.net">HTML5 UP</a>.
							Verti is released under the <a href="http://html5up.net/license">Creative Commons Attribution license</a>, so feel free to use it for any personal or commercial project you might have going on (just don't forget to credit us for the design!)</p>
							<p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus. Praesent semper bibendum ipsum, et tristique augue fringilla eu. Vivamus id risus vel dolor auctor euismod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat. Aliquam luctus mattis lectus sit amet phasellus quam turpis.</p>
							<a href="#" class="button icon fa-arrow-circle-right">Continue Reading</a>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>