<style type="text/css">
	.box{
		margin: 15px;
	}
</style>
<body ng-controller='home'>
	<div id="features-wrapper">
		<div class="container">
			<div class="row">
				<div class="1u" ng-click='cate()'>
					All
				</div>
				<div class="1u" ng-repeat='topic in topics' ng-bind='topic.index' ng-click='cate(topic.value)'>
				</div>
			</div>
			<div class="row">
				<div class="4u" ng-repeat='enroll in enrolls |filter:currentCate' ng-click='open(enroll)'>
					<!-- Box -->
					<section class="box feature"  >
						<a class="image featured">
							<img class="image_block" ng-src="{{enroll.image}}" onerror='this.src=""'>
						</a>
						<div class="inner">
							<header>
								<h2 ng-bind='enroll.name'></h2>
								<p>
								<small ng-bind='enroll.school'></small>
								<small ng-bind='enroll.major'></small>
								<small ng-bind='years[enroll.year].index'></small>
								<small ng-bind='topics[enroll.topic].index'></small>
								</p>
							</header>
							<p ng-bind='enroll.videoInfo | limitTo: 70'></p>
							<p style="color:blue;" ng-if='enroll.videoInfo.length>=70'>
							click to see more
							</p>
						</div>
					</section>
				</div>
				<div class="4u" ng-if='enrolls.length<=10'>
					<!-- Box -->
					<a href="/get_enroll" style="text-decoration: none;">
						<section class="box feature">
							<div class="image featured">
								<img class="image_block" src="http://cw1.tw/CW/images/article/C1397790720421.jpg" onerror='this.src=""'>
							</div>
							<div class="inner">
								<header>
									<h2>YOU ARE THE NEXT</h2>
									<p>
									Get Enrolled now
									</p>
								</header>
							</div>
						</section>
					</a>
				</div>
			</div>
		</div>
	</div>
</body>