/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require_self
*= require alertify
*= require_tree .
*/
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
.center-block {
    float: none !important;
}
.inner{
  margin-top: -20px;
}
.model-image {
    vertical-align: middle;
    display: inline-block!important;
    float: left;
    height: 70px;
    padding: 10px;
}
.ovh {
    overflow: hidden;
}
.modal-tag{
  margin-top: -40px;
  padding: 20px;
  float: right;
}
.model-html{
  padding: 20px;
}
